@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Ubuntu&display=swap");
/* CSS reset */
* {
  /* for 全部 */
  box-sizing: border-box;
  /* 不累加內距及邊框，for RWD */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* 重置字體 */
body {
  /* 字體名稱有空格（兩個單字以上）的要引號（""）、中文一定要引號。
  單一英文單字或者有用dash就不用加引號。（不知道的話全加引號）*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋⽅-繁", "PingFang TC", "⿊體-繁", "Heiti TC", "微軟正⿊體", "Microsoft JhengHei", sans-serif;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  /* 跟著容器變化 */
}

/* 重置連結 */
a {
  /* 沒有標點符號就是標籤 */
  display: block;
  /* inline不支援尺寸設定，但a常用來設定尺寸，所以直接把inline改為block。也可以直接寫在reset裡*/
  color: #666;
  /* 重複的色碼可以省略 */
  /* 所有顏色共用，包括visited, hover, focus, active */
  text-decoration: none;
  /* 取消預設底線 */
  /* transition屬性不能寫在hover身上，要寫在元素本身身上，不然移開就沒有動畫了 */
  transition: 0.4s 0.01s;
  /* Duration通常不會設太長，不然沒有滿足時間動畫會跳掉。屬性如果後面不一樣再覆蓋就好了 */
}

#index section, #video div, #contact, #about div, #contact .content #contact-form .btn-animate {
  display: flex;
  justify-content: center;
  align-items: center;
}

#topbar, footer {
  display: flex;
  justify-content: space-between;
}

#topbar .navbar .navigation ul {
  display: flex;
  justify-content: flex-end;
}

#news article a figure img, #about video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#news article a .text-box p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#news article a .text-box h2, #service .list-box .item a h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

#service .list-box .item a p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#contact .content #contact-form .btn-animate {
  border-radius: 99px;
  height: 60px;
  width: 210px;
  cursor: pointer;
  margin: 20px auto;
  border: solid 1px #8f6d6b;
  color: #cdaaab;
  letter-spacing: 15px;
  padding-left: 15px;
  background-color: #fff;
}
#contact .content #contact-form .btn-animate:hover {
  animation: myRotate 0.75s both;
}
#contact .content #contact-form .btn-animate:hover span {
  animation: myStorm 0.75s both;
}

#contact .content #contact-form input, #contact .content #contact-form textarea {
  border: solid 1px #8f6d6b;
  padding: 10px;
  border-radius: 5px;
  color: #8f6d6b;
  font-weight: 600;
}
#contact .content #contact-form input:focus, #contact .content #contact-form textarea:focus {
  outline: 2px solid #cdaaab;
}
#contact .content #contact-form input::placeholder, #contact .content #contact-form textarea::placeholder {
  color: #cdaaab;
  font-size: 0.75rem;
  font-weight: 400;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  from {
    opacity: 1;
    display: flex;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes myRotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes myStorm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
@font-face {
  font-family: "Ashley_Southine_Demo";
  src: url(../webfonts/Ashley\ Southine\ Demo.ttf);
}
/* ------共用區------ */
.title {
  margin: 110px 0 30px;
}
.title * {
  text-align: center;
  font-weight: 700;
}
.title h2 {
  position: relative;
  font-family: "Ashley_Southine_Demo";
  border-bottom: solid 3px #393a3a;
  font-size: 2rem;
  font-weight: 700;
}
.title h2::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -10px;
  background-color: #8f6d6b;
  width: 15px;
  height: 15px;
  border-radius: 99px;
}
.title h2::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: -5px;
  background-color: #8f6d6b;
  width: 10px;
  height: 10px;
  border-radius: 99px;
}
.title h3 {
  font-family: "LXGW WenKai TC", cursive;
  font-size: 1.2rem;
}

.logo {
  width: 55px;
}

.more {
  width: 100px;
  line-height: 50px;
  text-align: center;
  background-color: #8f6d6b;
  margin-top: 25px;
  color: #f7fcff;
  border-radius: 99px;
}

/* ------頁首區------ */
#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 10px 30px;
}
#topbar .navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#topbar .navbar .hamburger {
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}
#topbar .navbar .hamburger .bar {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #393a3a;
  margin: 5px 0;
}
#topbar .navbar .hamburger.is-active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}
#topbar .navbar .hamburger.is-active .bar:nth-child(2) {
  opacity: 0;
}
#topbar .navbar .hamburger.is-active .bar:last-child {
  transform: rotate(-45deg) translate(5px, -6px);
}
@media (max-width:970px) {
  #topbar .navbar .navigation {
    /* 玻璃擬態 */
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
    border: solid 2px rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.2), inset -1px -1px 1px rgba(255, 255, 255, 0.4);
    display: none;
    border-radius: 12px;
    flex-direction: column;
    padding: 10px;
    animation: hide 0.75s both;
  }
  #topbar .navbar .navigation.show {
    display: flex;
    animation: show 0.75s both;
  }
}
#topbar .navbar .navigation .menu {
  padding: 0 10px;
  border-radius: 99px;
  padding: 0 10px;
}
@media (min-width:971px) {
  #topbar .navbar .navigation .menu {
    /* 玻璃擬態 */
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
    border: solid 2px rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.2), inset -1px -1px 1px rgba(255, 255, 255, 0.4);
  }
}
@media (max-width:970px) {
  #topbar .navbar .navigation .menu {
    flex-direction: column;
    order: -1;
  }
}
#topbar .navbar .navigation .menu a {
  font-family: Helvetica, san-serif;
  font-weight: 700;
  margin: 10px;
  border-bottom: solid 2px transparent;
}
#topbar .navbar .navigation .menu a:hover {
  color: #0a0a0a;
  border-bottom: solid 2px #0a0a0a;
}
#topbar .navbar .navigation .icon a {
  width: 35px;
  height: 35px;
  margin: 5px;
}

/* 主要內容區 */
#index section {
  flex-direction: column;
  height: 100vh;
}
@media (max-width:820px) {
  #index section#video {
    height: auto;
    padding-bottom: 110px;
  }
}

.icon-FB {
  background-image: url(../images/icon-FB.svg);
}
.icon-FB:hover {
  background-image: url(../images/icon-FB-hover.svg);
}

.icon-IG {
  background-image: url(../images/icon-IG.svg);
}
.icon-IG:hover {
  background-image: url(../images/icon-IG-hover.svg);
}

.icon-LINE {
  background-image: url(../images/icon-LINE.svg);
}
.icon-LINE:hover {
  background-image: url(../images/icon-LINE-hover.svg);
}

.list-box {
  display: flex;
  gap: 30px;
  width: 80%;
  max-width: 1100px;
}
.list-box .item {
  overflow: hidden;
  flex: 1;
  border: solid 1px #8f6d6b;
  border-radius: 12px;
}

/* 最新消息 */
#news {
  background-color: #f2edf0;
}
@media (max-width:820px) {
  #news article:last-child {
    display: none;
  }
}
@media (max-width:640px) {
  #news article:nth-child(n+2) {
    display: none;
  }
}
#news article a:hover .text-box {
  background-color: #f7fcff;
}
#news article a:hover figure {
  filter: brightness(80%);
}
#news article a figure {
  height: 30vh;
  transition: 0.4s;
}
#news article a .text-box {
  padding: 20px;
  transition: 0.4s;
}
#news article a .text-box p {
  -webkit-line-clamp: 4;
  text-align: justify;
}

/* 服務項目 */
#service {
  background-color: #e6ece5;
}
@media (max-width:820px) {
  #service .list-box {
    flex-direction: column;
    height: 70vh;
  }
}
#service .list-box .item {
  display: flex;
  align-items: flex-end;
  height: 50vh;
  background-size: cover;
  background-position: center;
}
@media (max-width:820px) {
  #service .list-box .item:nth-child(n+3) {
    display: none;
  }
}
@media (max-width:640px) {
  #service .list-box .item:nth-child(n+2) {
    display: none;
  }
}
#service .list-box .item:nth-child(1) {
  background-image: url(../images/pt_svc1.jpg);
}
#service .list-box .item:nth-child(2) {
  background-image: url(../images/pt_svc2.jpg);
}
#service .list-box .item:nth-child(3) {
  background-image: url(../images/pt_svc3.jpg);
}
#service .list-box .item:nth-child(4) {
  background-image: url(../images/pt_svc4.jpg);
}
#service .list-box .item a {
  width: 100%;
  padding: 20px;
  color: #f7fcff;
  background-color: rgba(0, 0, 0, 0.6);
}
#service .list-box .item a:hover {
  color: #0a0a0a;
  background-color: rgba(255, 255, 255, 0.7);
}

/* 相關影片 */
#video {
  background-image: url(../images/bg_contact.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
@media (max-width:820px) {
  #video {
    height: auto;
  }
}
#video div {
  height: 50vh;
}
@media (max-width:820px) {
  #video div {
    height: auto;
    width: 70%;
  }
}
#video div video {
  height: 100%;
}
@media (max-width:820px) {
  #video div video {
    width: 80%;
    height: auto;
  }
}

/* 聯絡我們 */
#contact {
  position: relative;
  overflow: hidden;
  flex-direction: column;
  height: 100vh;
  background-color: #f2edf0;
}
@media (max-width:820px) {
  #contact {
    height: auto;
  }
}
#contact .content {
  display: flex;
  width: 80%;
}
@media (max-width:640px) {
  #contact .content {
    flex-direction: column;
  }
}
#contact .content > * {
  flex: 1;
  margin: 0 30px;
}
#contact .content h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
#contact .content address {
  font-size: 0.85rem;
  font-style: normal;
  margin: 20px 0;
}
#contact .content iframe {
  width: 100%;
  height: 300px;
  border: none;
}
#contact .content #contact-form > * {
  display: block;
  width: 100%;
}
#contact .content #contact-form label {
  margin: 10px 0 5px;
}
#contact .content #contact-form textarea {
  border-bottom-right-radius: 0;
}
#contact figure {
  position: absolute;
  width: 250px;
}
@media (max-width:820px) {
  #contact figure {
    width: 200px;
  }
}
@media (max-width:640px) {
  #contact figure {
    display: none;
  }
}
#contact .flower_1 {
  left: 0;
  bottom: -50px;
}
#contact .flower_2 {
  right: -30px;
  top: 130px;
  transform: rotate(-30deg);
}

/* 關於我們 */
#about {
  position: relative;
  background-color: #f3e4e4;
}
#about div {
  position: absolute;
  z-index: 1;
  width: 60%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
}
@media (max-width:820px) {
  #about div {
    width: 80%;
  }
}
#about div p {
  overflow: scroll;
  width: 90%;
  margin-bottom: 50px;
  padding-right: 10px;
}
#about div p::-webkit-scrollbar {
  background-color: #f3e4e4;
  border-radius: 99px;
  height: 15px;
  width: 15px;
}
#about div p::-webkit-scrollbar-button {
  display: block;
  background-color: #cdaaab;
  width: 5px;
  height: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}
#about div p::-webkit-scrollbar-button:vertical:single-button:start {
  background-image: url(../images/arrow/arrow-up.svg);
}
#about div p::-webkit-scrollbar-button:vertical:single-button:end {
  background-image: url(../images/arrow/arrow-down.svg);
}
#about div p::-webkit-scrollbar-button:horizontal:single-button:start {
  background-image: url(../images/arrow/arrow-left.svg);
}
#about div p::-webkit-scrollbar-button:horizontal:single-button:end {
  background-image: url(../images/arrow/arrow-right.svg);
}
#about div p::-webkit-scrollbar-thumb {
  background-color: #cdaaab;
  border-radius: 99px;
}
#about div p::-webkit-scrollbar-track {
  background-color: #efdbdb;
}
#about div p::-webkit-scrollbar-corner {
  background-color: #8f6d6b;
}
#about video {
  filter: brightness(70%) contrast(120%);
  mix-blend-mode: overlay;
}

/* 頁尾區 */
footer {
  padding: 20px 30px;
  background-color: #8f6d6b;
  color: #f7fcff;
}
footer a {
  color: #f7fcff;
}
footer h2 {
  font-size: 1.5rem;
}
footer h2 span {
  font-size: 1rem;
}
@media (max-width:640px) {
  footer {
    flex-direction: column;
  }
}
footer .sitemap {
  display: flex;
}
@media (max-width:820px) {
  footer .sitemap {
    margin-top: 30px;
  }
}
@media (max-width:640px) {
  footer .sitemap {
    flex-direction: column;
  }
  footer .sitemap ul {
    padding-left: 20px;
  }
  footer .sitemap ul li {
    padding: 10px 0;
  }
}
footer .sitemap > li {
  margin: 0 10px;
}
footer small {
  align-self: flex-end;
}
@media (max-width:640px) {
  footer small {
    align-self: flex-start;
    margin-top: 30px;
  }
}

#goTop {
  width: 50px;
  height: 50px;
  background-color: #cdaaab;
  border-radius: 99px;
  border: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 999;
}
#goTop:hover {
  background-color: #efdbdb;
}