@use '../variables/' as *;
@use './mixin' as *;
// 因為extend也在function資料夾中，不可調用整個function，只需調用mixin檔案
// 繼承語法會置頂

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-between {
    display: flex;
    justify-content: space-between;
}

%flex-end {
    display: flex;
    justify-content: flex-end;
}

%img-cover {
    object-fit: cover;
    // width: 100%; reset已經設定過了
    height: 100%;
}

%multiple-lines {
    // 多行省略
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

%btn-animate {
    border-radius: $rad-ex;
    @extend %flex-center;
    height: 60px;
    width: 210px;
    cursor: pointer;
    margin: $spacing-md auto;
    @include bordered;
    color: $lesser-3;
    letter-spacing: $spacing-sm;
    padding-left: $spacing-sm;
    background-color: $white;

    &:hover {
        @include ani-slow($name: myRotate);

        span {
            @include ani-slow($name: myStorm);
        }
    }
}

%input-style {
    //  border: 1px solid var(--lesser-3);
    @include bordered;
    padding: $spacing-xs;
    border-radius: $spacing-xxs;
    color: $lesser-4;
    font-weight: $f-w-m;

    &:focus {
        outline: 2px solid $lesser-3;
    }

    &::placeholder {
        color: $lesser-3;
        font-size: $f-s-xs;
        font-weight: $f-w-r;
    }
}