@use '../variables' as *;

@mixin border-b($width: 3px, $color: $charcoal) {
    border-bottom: solid $width $color;
}

@mixin bordered($width: 1px, $color: $lesser-4) {
    border: solid $width $color;
}

@mixin ani-slow ($name, $duration: .75s) {
    animation: $name $duration both;
}

@mixin glassmorphism {
    /* 玻璃擬態 */
    background-image: linear-gradient(to bottom right, $alpha-w-40, $alpha-w-40);
    // border: 2px solid $alpha-w-40;
    @include bordered($width:2px,$color:$alpha-w-40);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 2px 2px 5px rgba($black, $alpha-20),
        inset -1px -1px 1px $alpha-w-40;
}