// color

// neutral color
$white: #fff;
$light: #f7fcff;
$light-gray: #e7ebee;
$gray: #c8cacc;
$deep: #444;
$dark: #666;
$dark-gray: #a9acad;
$deep-gray: #828486;
$charcoal: #393a3a;
$black: #0a0a0a;

// background
$bg-1: #f2edf0;
$bg-2: #e6ece5;
$bg-3: #ecf0f4;

// secondary
$lesser-1: #f3e4e4;
$lesser-2: #efdbdb;
$lesser-3: #cdaaab;
$lesser-4: #8f6d6b;


// alpha
$alpha-w-20: rgba(255, 255, 255, 0.2);
$alpha-20: 0.2;
$alpha-30: 0.3;
$alpha-w-40: rgba(255, 255, 255, .4);
$alpha-50: 0.5;
$alpha-w-70: rgba(255, 255, 255, .7);
$alpha-b-20: rgba(0, 0, 0, 0.2);