@use 'reset'; // @use 必須在任何其他規則之前寫入
@use 'variables' as *;
@use 'function' as *;
@use './keyframes';
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Ubuntu&display=swap');

@font-face {
    font-family: 'Ashley_Southine_Demo';
    src: url(../webfonts/Ashley\ Southine\ Demo.ttf);
}

/* ------共用區------ */

// 區塊標題
.title {
    margin: $spacing-ex 0 $spacing-xl;

    * {
        // 星號(*)表示抓裡面所有的子孫元素
        text-align: center;
        font-weight: 700;
    }

    h2 {
        font-family: $family-display;
        @include border-b;
        font-weight: $f-w-b;
    }

    h3 {
        font-family: $family-tc;
        font-size: $f-s-lg;
    }

}

.logo {
    width: 55px;
}

/* ------頁首區------ */

#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: $w-100;
    z-index: $z-ex;
    @extend %flex-between;
    padding: $spacing-xs $spacing-xl;

    ul {
        @extend %flex-end;
    }

    .menu {
        padding: $spacing-x-xs;
        border-radius: $rad-ex;
        @include glassmorphism;

        a {
            font-family: $family-en;
            font-weight: $f-w-b;
            margin: $spacing-xs;
            @include border-b($width: 2px, $color: transparent);

            &:hover {
                color: $black;
                @include border-b($width: 2px, $color: transparent);
            }
        }
    }

    .icon {
        a {
            width: 35px;
            height: 35px;
            margin: $spacing-xxs;
        }
    }

}



// 迴圈不用調用，直接編譯語法（不可寫入function）
@each $social in fb, ig, line {
    .icon-#{$social} {
        background-image: url(../images/icon-#{$social}.svg);

        &:hover {
            border-image: url(../images/icon-#{$social}-hover.svg);
        }
    }
}


/* 聯絡我們 */
#contact {
    position: relative;
    overflow: hidden;
    @extend %flex-center;
    flex-direction: column;
    height: 100vh;
    background-color: $bg-1;

    @media ($mediaMd) {
        height: auto;
    }

    .content {
        display: flex;
        width: $w-80;

        @media ($mediaSm) {
            flex-direction: column;
        }

        >* {
            flex: 1;
            margin: $spacing-x-xl;
        }

        h1 {
            font-size: $f-s-xl;
            font-weight: $f-w-m;
        }

        address {
            font-size: $f-s-sm;
            font-style: normal;
            margin: $spacing-y-md;
        }

        iframe {
            width: $w-100;
            height: 300px;
            border: none;
        }

        #contact-form {
            >* {
                display: block;
                width: $w-100;
            }

            label {
                margin: $spacing-label;
            }

            .btn-animate {
                @extend %btn-animate;
            }

            input {
                @extend %input-style;
            }

            textarea {
                @extend %input-style;
            }
        }

    }

    figure {
        position: absolute;
        width: 250px;

        @media ($mediaMd) {
            width: 200px;
        }

        @media ($mediaSm) {
            display: none;
        }
    }

    .flower_1 {
        left: 0;
        bottom: -50px;
    }

    .flower_2 {
        right: -30px;
        top: 130px;
        transform: rotate(-30deg);
    }
}

/* 頁尾區 */
footer {
    @extend %flex-between;
    padding: $spacing-md $spacing-xl;
    background-color: $lesser-4;
    color: $light;

    a {
        color: $light;
    }

    h2 {
        font-size: $f-s-xl;

        span {
            font-size: $f-s-md;
        }
    }

    .sitemap {
        display: flex;

        >li {
            margin: $spacing-x-xs;
        }
    }

    small {
        align-self: flex-end;
    }
}